{% load static i18n %}
<div class="row drag-drop-container mt-3" data-name-description="{{ name_description }}" data-kind="{{ kind }}" data-max="{{ max }}" data-accept="{{ accept }}">
    <div class="col-12 p-3">
        <p>
            {% blocktranslate %}Group all project layers into a ZIP file. Each layer must have a unique identification code based on its type and category {% endblocktranslate %}
            {% blocktranslate %}(refer to the documentation for more details). You must include a base file for each category, and each additional layer can {% endblocktranslate %}  
            {% blocktranslate %}contain one or more files. <span class="color-secondary"> Each layer must contain at least one polygon (point, line, or area) {% endblocktranslate %}
            {% blocktranslate %}depending on the type of information it represents.</span> {% endblocktranslate %}
        </p>
    </div>
    <div class="col-6">
        <div class="w-100 file-drag-drop text-center p-3 dashed-container">
            <img class="w-25" src="{% static 'images/cloud.png' %}" alt="">
            <p class="file-message">{% translate "Drag and Drop" %}</p>
        </div>
    </div>
    <div class="col-6">
        <div class="w-100 input-drag-drop p-3 dashed-container text-center">
            <p>{% translate "Or choose a file" %}</p>
            <button type="button" class="btn btn-sm btn-custom borders-secondary btn-browse">{% translate "Browse your files" %}</button>
            <input class="dummy-input d-none" type="file" name="" accept="{{ accept }}"><br>
            <span class="my-2">{% blocktranslate %}Supported filetype: {{ accept }}{% endblocktranslate %}</span><br>
            <a class="color-secondary" href="">{% translate "Download example file" %}</a>
        </div>
    </div>
    <div class="col-12 mt-3">
        <table class="table files-container">
            <tr class="bg-dark text-light text-center">
                <th>{% translate "File" %}</th>
                <th>{% translate "Download" %}</th>
                <th>{% translate "Delete" %}</th>
            </tr>
        </table>
    </div>
</div>